<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Modify product</h1>
    <form action="/products/<%=products._id%>?_method=PUT" method="post">
        <label for="productName">Name:</label>
        <input type="text" id="productName" name="productName" value="<%= products.productName %>" required><br>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="<%= products.type %>" required><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="<%= products.quantity %>" required><br>
        <label for="cost">Cost:</label>
        <input type="number" id="cost" name="cost" value="<%= products.cost %>" required><br>
        <label for="recipe">Requires recipe?</label><br>
        <input type="radio" value="True" name="recipe" checked><label for="recipe">Yes</label><br>
        <input type="radio" value="False" name="recipe" checked><label for="recipe">No</label><br>
        <button type="submit">Save changes</button>
    </form>
</body>
</html>